MSSQL_SA_PASSWORD=ChangeThis_SqlServerPassword_123!
MONGO_APP_USER=plataformaecommerce
MONGO_APP_PASSWORD=ChangeThis_MongoPassword_123!
JWT_SIGNING_KEY=ChangeThis_JwtSigningKey_WithAtLeast32Characters
